<div class="header header-filter" style="background-image: url('../assets/img/background/bg-5.jpg');"></div>
    <div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="row">
	                    <div class="profile">
	                        <div class="avatar">
	                            <img src="../assets/img/gonzalo.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
	                        </div>
	                        <div class="name">
	                            <h3 class="title">Gonzalo Barba</h3>
								<h6>Software Developer</h6>
	                        </div>
	                    </div>
	                </div>
	                <div class="description text-center">
                        <p>
                            Software Developer & Geek. I love challenges. I spend my free time learning new technologies. 
                            Sharing my developer experiences with the world.
                        </p>
	                </div>

					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="profile-tabs">
			                    <div class="nav-align-center">
									<ul class="nav nav-pills nav-pills-danger" role="tablist">
										<li class="active">
											<a href="#skills" role="tab" data-toggle="tab">
												<i class="fa fa-hand-spock-o"></i>
												Skills
											</a>
										</li>
										<li>
				                            <a href="#work" role="tab" data-toggle="tab">
												<i class="material-icons">computer</i>
												Work
				                            </a>
				                        </li>
				                        <li>
				                            <a href="#education" role="tab" data-toggle="tab">
												<i class="material-icons">book</i>
				                                Education
				                            </a>
				                        </li>
				                    </ul>

				                    <div class="tab-content gallery">
										<div class="tab-pane active" id="skills">
				                            <div class="row">
												<div class="col-md-10 col-md-offset-1">
													<table class="table">
														<tbody>
															<tr>
																<td><i class="material-icons">code</i></td>
																<td>JavaScript</td>
																<td> <button type="button" rel="tooltip" title="View Profile" class="btn btn-danger btn-simple btn-xs">
																		<i class="fa fa-user"></i>
																	</button></td>
															</tr>
															<tr>
																<td><i class="material-icons">code</i></td>
																<td>JS Architecture</td>
																<td> <button type="button" rel="tooltip" title="View Profile" class="btn btn-danger btn-simple btn-xs">
																		<i class="fa fa-user"></i>
																	</button></td>
															</tr>
															<tr>
																<td><i class="material-icons">code</i></td>
																<td>C# & ASP MVC</td>
																<td> <button type="button" rel="tooltip" title="View Profile" class="btn btn-danger btn-simple btn-xs">
																		<i class="fa fa-user"></i>
																	</button></td>
															</tr>
															<tr>
																<td><i class="material-icons">code</i></td>
																<td>Java & Sprint</td>
																<td> <button type="button" rel="tooltip" title="View Profile" class="btn btn-danger btn-simple btn-xs">
																		<i class="fa fa-user"></i>
																	</button></td>
															</tr>
															<tr>
																<td><i class="material-icons">code</i></td>
																<td>MV* Frameworks</td>
																<td> <button type="button" rel="tooltip" title="View Profile" class="btn btn-danger btn-simple btn-xs">
																		<i class="fa fa-user"></i>
																	</button></td>
															</tr>
															<tr>
																<td><i class="material-icons">android</i></td>
																<td>Android</td>
																<td> <button type="button" rel="tooltip" title="View Profile" class="btn btn-danger btn-simple btn-xs">
																		<i class="fa fa-user"></i>
																	</button></td>
															</tr>
														</tbody>
													</table>
												</div>
				                            </div>
				                        </div>
				                        <div class="tab-pane text-center" id="work">
											<works></works>
				                        </div>
										<div class="tab-pane text-center" id="education">
											<div class="row">
												<div class="col-md-6">

												</div>
												<div class="col-md-6">
													
												</div>
											</div>
				                        </div>

				                    </div>
								</div>
							</div>
							<!-- End Profile Tabs -->
						</div>
	                </div>

	            </div>
	        </div>
		</div>