<div class="row" *ngFor="let work of works">
    <div class="col-md-8 col-md-offset-2">
        <div class="media gallery">
            <div class="media-body">
                <h3 class="media-heading blog-title">{{work.name}}</h3>
                <h6 class="text-muted"></h6>

                <p class="blog-content">{{work.description}}</p>

                <div class="media-footer">
                    <a class="btn btn-info btn-simple pull-right" 
                       rel="tooltip" title="" 
                       *ngIf="work.currently"> <!-- Working Currently on it -->
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{work.start}} - Currently
                    </a>
                    <a class="btn btn-info btn-simple pull-right" 
                       rel="tooltip" title=""
                       *ngIf="!work.currently"> <!-- Not Currently working on it -->
                        <i class="fa fa-calendar" aria-hidden="true"></i> {{work.start}} - {{work.end}}
                    </a>
                    <a class="btn btn-danger btn-simple pull-right">
                        <i class="fa fa-globe" aria-hidden="true"></i> {{work.country}} 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>