<div class="header page-header-blog header-filter" 
     style="background-image: url('../assets/img/background/bg-1.jpg');transform: translate3d(0px, 0px, 0px);">
    <div class="container container-blog-header">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="title">Blog</h1>
                <h4>Sharing my developer experiences with the world, Whenever I have the time <i class="fa fa-smile-o"></i></h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="row">
            <posts></posts>
        </div>
    </div>
</div>