<div class="header page-header-portfolio header-filter" 
     style="background-image: url('../assets/img/background/bg-2.jpg');transform: translate3d(0px, 0px, 0px);">
    <div class="container container-portfolio-header">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="title">Portfolio</h1>
                <h3>Take a look to some of my awesome projects  <i class="fa fa-pencil"></i></h3>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
			<div class="profile-content">
	            <div class="container">
	                <div class="description text-center">
                        <p>
                            Below are some of my professional works in the companies I have worked and my freelance projects
                        </p>
	                </div>

					<div class="row">
						<div class="col-md-12">
							<div class="profile-tabs">
			                    <div class="nav-align-center">
									<ul class="nav nav-pills nav-pills-danger" role="tablist">
										<li class="active">
											<a href="#moneymate" role="tab" data-toggle="tab">
												<i class="material-icons">trending_up</i>
												MoneyMate
											</a>
										</li>
										<li>
				                            <a href="#clubtravel" role="tab" data-toggle="tab">
												<i class="material-icons">card_travel</i>
												Club Travel
				                            </a>
				                        </li>
				                        <li>
				                            <a href="#freelance" role="tab" data-toggle="tab">
												<i class="material-icons">favorite</i>
				                                Freelance
				                            </a>
				                        </li>
				                    </ul>

				                    <div class="tab-content gallery">
										<div class="tab-pane active" id="moneymate">
				                            <div class="row">
												<div class="col-md-12">
													<moneymate></moneymate>
												</div>
				                            </div>
				                        </div>
				                        <div class="tab-pane text-center" id="clubtravel">
											<div class="row">
												<div class="col-md-12">
                                                    <clubtravel></clubtravel>
												</div>
											</div>
				                        </div>
										<div class="tab-pane text-center" id="freelance">
											<div class="row">
												<div class="col-md-12">
                                                    <freelance></freelance>
												</div>
											</div>
				                        </div>

				                    </div>
								</div>
							</div>
							<!-- End Profile Tabs -->
						</div>
	                </div>

	            </div>
	        </div>
		</div>