     <footer class="footer">
        <div class="container">
            <nav class="pull-left">
				<ul>
					<li>
						<a href="http://blog.gonzalobarba.com">
							Blog
						</a>
					</li>
					<li>
						<a href="http://statickoala.com/">
						   StaticKoala
						</a>
					</li>
					<li>
						<a href="http://github.com/gon250">
							GitHub <i class="fa fa-github" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
            </nav>
            <div class="copyright pull-right">
                &copy; 2016, made with <i class="fa fa-heart heart"></i> by Gonzalo Barba
            </div>
        </div>
    </footer>