<div class="header page-header-timeline header-filter" 
     style="background-image: url('../assets/img/background/bg-3.jpg');transform: translate3d(0px, 0px, 0px);">
    <div class="container container-timeline-header">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="title">Timeline</h1>
                <h3>Follow me on the social networks to be up to date. <i class="fa fa-rocket"></i></h3>
            </div>
        </div>
    </div>
</div>
